.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 960px;
  background: linear-gradient(174deg, @white 21%, @light-gray 20%);

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    margin: 0 auto;
    min-height: 660px;
    background: linear-gradient(175deg, @white 34%, @light-gray 34%);
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    min-height: 893px;
    background: linear-gradient(175deg, @white 36%, @light-gray 36%);
    padding-bottom: 6px;
    margin-bottom: 0;
  }
}

.advantages__wrapper {
  padding-bottom: 63px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-bottom: 16px;
  }
}

.advantages__text {
  width: 222px;
  margin: 0 auto;
  padding-bottom: 31px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  @media (min-width: @tablet-width) {
    width: 600px;
    font-size: 40px;
    line-height: 54px;
    padding-bottom: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    font-size: 50px;
    line-height: 68px;
    padding-bottom: 0;
  }
}

.advantages__list {
  width: 280px;
  list-style-type: none;
  padding: 20px 0 10px 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 310px;
    order: 1;
    margin: 0;
    padding: 68px 0 0 32px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding: 0;
  }
}

.advantages__item {
  padding-bottom: 11px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-bottom: 12px;
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    position: relative;
    text-align: center;
    margin: 0 10px;
  }
}

.advantages__item-image-wrapper {
  &::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 12px;
    top: 288px;
    left: 0;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
  }

  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__image {
  height: 292px;
  object-fit: cover;
  object-position: top;
}

.advantages__image-after-list {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__image-after {
  height: 278px;
  object-fit: cover;
  object-position: top;
  vertical-align: bottom;
}

.advantages__image-before-list {
  padding-right: 10px;

  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__image-before {
  height: 480px;
  object-fit: cover;
  object-position: top;
  vertical-align: bottom;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    padding-top: 55px;
  }
}

.advantages__item-text {
  padding: 12px 0 20px 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 22px 30px 20px 30px;
  }
}
