.contest {
  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    margin: 0 auto;
    padding: 0 132px;
  }
}

.contest__title,
.contest__subtitle {
  width: 280px;
  text-align: center;
  line-height: 30px;
  margin: 44px auto 21px auto;

  &--hidden {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 92px;
    margin: 0 auto;

    &--hidden {
      display: block;
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 756px;

    &--hidden {
      display: inline;
    }
  }
}
