.contest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contest-form__background {
  background-color: @light-gray;
  width: 100%;
}

.contest-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: @mobile-width;
  border: 0;
  margin: 0;
  padding: 0;

  &--user {
    padding-bottom: 10px;
  }

  &--contacts {
    padding: 13px 0;
  }
}

.contest-form__list {
  list-style-type: none;
  padding: 0;

  &--achivments {
    margin-left: 40px;
    margin-bottom: 0;
  }

  &--apps {
    margin: 11px 0 0 -2px;
  }
}

.contest-form__label {
  margin-left: 24px;
  color: @pink;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.contest-form__label-check {
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.contest-form__legend {
  max-width: 220px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0 28px 0;
  margin: 0 auto;

  &--apps {
    padding-top: 37px;
  }

  &--hidden {
    display: none;
  }

  &--padding {
    padding-bottom: 8px;
  }
}

.contest-form__input-text {
  display: block;
  width: 238px;
  height: 59px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @middle-gray;
  margin: 5px 0 17px 0;
  outline: none;

  &:hover {
    border-color: @dark-gray;
  }

  &:focus {
    border-color: @pink;
  }
}

.contest-form__item-achivments {
  padding-bottom: 52px;
  position: relative;
}

.contest-form__item-apps {
  padding-bottom: 45px;
  position: relative;
}

.contest-form__checkbox + .contest-form__label-check::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-left: -60px;
  border: 2px solid @middle-gray;
  background-color: @white;
  cursor: pointer;
}

.contest-form__checkbox:focus + .contest-form__label-check::before {
  border-color: @dark-gray;
}

.contest-form__checkbox:checked + .contest-form__label-check::before {
  background: @white url("../img/pink-tick.svg") center no-repeat;
  z-index: 1;
}

.contest-form__radio + .contest-form__label-check::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  margin-top: -4px;
  margin-left: -70px;
  border: 2px solid @middle-gray;
  background-color: @white;
  border-radius: 50%;
}

.contest-form__label-check {
  &:hover::before {
   border-color: @dark-gray;
  }
  &:active::before {
    border-color: @pink;
  }
}

.contest-form__radio:checked + .contest-form__label-check::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: -58px;
  width: 15px;
  height: 15px;
  color: @pink;
  background-color: @pink;
  border-radius: 50%;
  z-index: 1;
}

.contest-form__radio:focus + .contest-form__label-check::before {
  border-color: @dark-gray;
}

.contest-form__textarea {
  width: 240px;
  height: 180px;
  resize: none;
  overflow: auto;
  margin: 9px auto 0;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
  border: 2px solid @middle-gray;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
  outline: none;

  &:hover {
    border-color: @dark-gray;
  }
  &:focus {
    border-color: @pink;
  }
}

.contest-form__button {
  display: block;
  width: 280px;
  min-height: 63px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  text-transform: uppercase;
  border: 2px solid @light-green;
  background-color: @light-green;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid @dark-green;
    background-color: @dark-green;
  }

  &:active {
    color: @middle-gray;
  }

  &:disabled {
    border: 2px solid @middle-gray;
    background-color: @middle-gray;
  }
}

.contest-form__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 34px 0 54px 0;
}

.contest-form__asterix {
  color: @pink;
}
