.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/hand-mobile@1x.png") top 176px center/320px 286px no-repeat, @dark-blue url("../img/back-mobile@1x.jpg") top/320px 462px no-repeat;
  color: @white;
  position: relative;
  margin-bottom: 41px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hand-mobile@2x.png"), url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 729px;
    padding-right: 318px;
    background: url("../img/hand-tablet@1x.png") bottom center /660px 545px no-repeat, @dark-blue url("../img/back-tablet@1x.jpg") top center / cover no-repeat;
    margin-bottom: 47px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-tablet@2x.png"), url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    padding-right: 636px;
    background: url("../img/hand-desktop@1x.png") bottom center / 1050px 645px no-repeat, @dark-blue url("../img/back-desktop@1x.jpg") top center / cover no-repeat;
    margin-bottom: 62px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-desktop@2x.png"), url("../img/back-desktop@2x.jpg");
    }
  }
}

.download__slogan {
  width: 280px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 90px;
  padding-bottom: 317px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 200px;
    font-size: 40px;
    line-height: 48px;
    padding-top: 205px;
    padding-bottom: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 210px;
    padding-bottom: 10px;
  }
}

.download__list {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  column-gap: 35px;
  align-items: end;
  width: 205px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    padding-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 34px;
    padding-bottom: 28px;
  }
}

.download__info {
  width: 240px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    width: 300px;
    font-size: 18px;
  }
}

.download__link {
  cursor: pointer;
}
