.editor {
  margin-bottom: 40px;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 100px;
  }
}

.editor__wrapper {
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    padding-bottom: 26px;
  }
}

.editor__title {
  width: 255px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  padding: 22px 0 43px 0;

  @media (min-width: @tablet-width) {
    width: 480px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
  }
}
