.headline {
  background: @dark-blue url("../img/back-mobile@1x.jpg") top / 320px no-repeat;
  padding: 40px 0 46px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 354px;
    background-image: url("../img/back-tablet@1x.jpg");
    background-size: 1200px;
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 308px;
    background: @dark-blue url("../img/back-desktop@1x.jpg") top center / cover no-repeat;
    background-size: 2562px;
    background-position-y: 11px;
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.headline__text {
  width: 230px;
  color: @white;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  padding-top: 53px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 480px;
    font-size: 50px;
    line-height: 68px;
    font-weight: 300;
    padding-top: 138px;
  }

  @media (min-width: @desktop-width) {
    width: 750px;
    padding-top: 130px;
  }

  &--photo {
    padding-bottom: 34px;

    @media (min-width: @desktop-width) {
      width: 360px;
    }
  }
}
