.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: @mobile-width;
  min-height: 240px;
  background: @dark-blue url("../img/back-mobile.jpg") center no-repeat;
  position: relative;
  top: -66px;
  z-index: -1;
}

.headline__text {
  width: 230px;
  color: @white;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  padding-top: 45px;
  margin: 0;
}
