.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.main-menu__item {
  background-color: @dark-gray;
  border-top: 1px solid fade(@white, 15%);
  border-bottom: 1px solid @black;
  text-align: center;
}

.main-menu__link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 13px;
}
