.map {
  display: block;
  position: relative;
  width: 320px;
  height: 200px;
  background: url("../img/map-marker.svg") top 95px center no-repeat, url("../img/map-mobile@1x.webp") center no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-resolution: 2dppx) {
    background: url("../img/map-marker.svg") top 95px center no-repeat, url("../img/map-mobile@2x.webp") center no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 374px;
    background: url("../img/map-marker.svg") top 192px center no-repeat, url("../img/map-tablet@1x.webp") center no-repeat;
    margin-bottom: 35px;

    @media (min-resolution: 2dppx) {
      background: url("../img/map-marker.svg") top 192px center no-repeat, url("../img/map-tablet@2x.webp") center no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 502px;
    background: url("../img/map-marker.svg") top 265px center no-repeat, url("../img/map-desktop@1x.webp") center no-repeat;
    margin-bottom: 72px;

    @media (min-resolution: 2dppx) {
      background: url("../img/map-marker.svg") top 265px center no-repeat, url("../img/map-desktop@2x.webp") center no-repeat;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: (@mobile-width / 2) solid transparent;
    border-top: (@mobile-width / 10) solid @white;

    @media (min-width: @tablet-width) {
      border: (@tablet-width / 2) solid transparent;
      border-top: (@tablet-width / 10) solid @white;
    }

    @media (min-width: @desktop-width) {
      border: (@desktop-width / 2) solid transparent;
      border-top: (@desktop-width / 10 - 20) solid @white;
    }
  }
}
