.page-header {
  width: 100%;
  color: @white;
  z-index: 1;
  background-color: @dark-gray;

  &--light {
    background-color: @bg-color-header;
  }

  &--absolute {
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bg-color-header;
    position: absolute;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 40px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    margin: 0;
  }
}

.page-header__logo {
  outline: none;
  margin-top: 5px;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @desktop-width) {
    padding-left: 52px;
  }
}

.page-header__toggle {
  border: 0;
  background-color: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: none;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    opacity: 30%;
  }

  &--active {
    display: block;

    .page-header__icon-open {
      display: block;
    }

    .page-header__icon-close {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--close {
    display: block;

    .page-header__icon-open {
      display: none;
    }

    .page-header__icon-close {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}
