.page-header {
  min-width: @mobile-width;
  margin: 0 auto;
  padding: 0;
  background-color: @bg-color-header;
  color: @white;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
