.page-header {
  position: absolute;
  width: @mobile-width;
  left: 50%;
  background-color: @bg-color-header;
  color: @white;
  transform: translateX(-50%);
  z-index: 1;

  &--dark {
    background-color: @dark-gray;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bg-color-header;
    width: 100%;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
    padding: 40px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 340px;
    margin: 0;
  }
}

.page-header__logo {
  outline: none;
  margin-top: 5px;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @desktop-width) {
    padding-left: 130px;
  }
}

.page-header__toggle {
  border: 0;
  background-color: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    opacity: 30%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
