.popup {
  display: block;
  position: fixed;
  width: @mobile-width;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: @white;
  box-shadow: 0 7px 15px rgb(0 1 1 / 15%);
  z-index: 2;

  &--close {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    min-height: 377px;
  }
}

.popup__title {
  margin: 0;
  padding: 44px 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 44px 100px 5px 100px;
  }
}

.popup__text {
  text-align: center;
  padding: 0 25px 22px 25px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 0 75px 12px 75px;
  }

  @media (min-width: @desktop-width) {
    width: 378px;
    margin: 0 auto;
    padding: 18px 75px 38px 75px;
  }
}

.popup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 163px;
  background-color: @light-gray;
  margin: 0 auto;

  &--white {
    background-color: @white;
  }
}
