.popup {
  display: block;
  position: fixed;
  width: @mobile-width;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: @white;
  box-shadow: 0 7px 15px rgb(0 1 1 / 15%);
  z-index: 2;

  &--close {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.popup__title {
  margin: 0;
  padding: 44px 0 25px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 44px 100px 25px 100px;
  }
}

.popup__text {
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    min-height: 22px;
    padding: 0 75px 0 75px;
  }

  @media (min-width: @desktop-width) {
    width: 378px;
    min-height: 120px;
    margin: 0 auto;
  }

  &--success {
    @media (min-width: @mobile-width) {
      padding: 0 20px 45px 20px;
    }

    @media (min-width: @tablet-width) {
      padding: 0 75px 38px 75px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 75px 0 75px;
    }
  }
}

.popup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 143px;
  background-color: @light-gray;

  &--white {
    background-color: @white;

    @media (min-width: @desktop-width) {
      background-color: @light-gray;
    }
  }
}
