.slider-nav__button {
  width: 22px;
  height: 41px;
  background-color: transparent;
  border: 0;
  opacity: 30%;
  outline: none;
  cursor: pointer;
  position: absolute;
  display: none;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 10%;
  }

  @media (min-width: @desktop-width) {
    display: block;

    &--left {
      top: 214px;
      left: -125px;
    }

    &--right {
      top: 214px;
      right: -115px;
    }
  }
}
