.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  width: 180px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.social__item {
  width: 55px;
  height: 55px;
}

.social__icon {
  padding-top: 5px;
}

.social__link {
  display: table-cell;
  width: 48px;
  height: 48px;
  border: 3px solid fade(@dark-gray, 10%);
  border-radius: 50%;
  outline: none;
  text-align: center;
  vertical-align: middle;

  &:hover {
    border-color: @dark-gray;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-text {
  padding-right: 15px;
}
