.tariff {
  background: linear-gradient(176deg, @white 12%, @light-gray 10%);
  padding-bottom: 50px;
  padding-top: 22px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    background: linear-gradient(176deg, @white 16%, @light-gray 12%);
    padding-bottom: 28px;
  }
}

.tariff__wrapper {
  overflow: hidden;
  margin-bottom: 33px;
  padding-top: 95px;
}
