.tariff {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: @mobile-width;
  background: linear-gradient(174deg, @white 20%, @light-gray 20%);
  padding: 0;
  margin: 0 auto;
}

.tariff__wrapper {
  list-style: none;
}

